:root {
  /* Colors */
  --blue-900: #0b0d17;
  --blue-900-opacity: hsla(230, 35%, 7%, 0.5);
  --blue-300: #d0d6f9;
  --white: #ffff;
  /* Fonts */
}

#destination {
  height: 888px;
  width: 1440px;
  column-gap: 32px;
  justify-content: center;
  padding: 48px 165px;
  display: none;
}

#pick-your-destination {
  font: 400 28px "Barlow Condensed", sans-serif;
  line-height: 33.6px;
  letter-spacing: 4px;
  color: white;
  display: flex;
  column-gap: 24px;
}

#pick-your-destination span {
  font-weight: 700;
  color: white;
  letter-spacing: 4.72px;
  opacity: 25%;
}

#destination-picture {
  width: 480px;
}

#aside {
  height: 480px;
  width: 539px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
  height: 100%;
  padding: 133px 47px;
}

#aside ul {
  display: flex;
  font: 400 16px "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
  line-height: 19.2px;
  color: var(--blue-300);
  height: 29px;
  width: 100%;
  column-gap: 32px;
}
.cosmos-item {
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 3px solid transparent;
  transition: all ease-in-out 300ms;
}
.cosmos-item:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.cosmos-item:active {
  border-bottom: 3px solid white;
}

#title-destination {
  font: 400 96px "Bellefair", sans-serif;
  line-height: 110.02px;
  color: white;
}

#description-destination {
  font: 400 18px "Barlow", sans-serif;
  line-height: 32.4px;
  color: var(--blue-300);
}
#hr-destination {
  color: white;
  opacity: 24%;
}
#dist-travel-container {
  display: flex;
  column-gap: 24px;
}
.dist-time {
  font: 400 14px "Barlow Condensed";
  color: var(--blue-300);
  letter-spacing: 2px;
  line-height: 16.8px;
  width: 210.5px;
}

.dist-time-n {
  font: 400 28px "Bellefair", sans-serif;
  line-height: 32.09px;
  letter-spacing: 1px;
  color: white;
  width: 210.5px;
}

#title-picture-container {
  display: flex;
  flex-direction: column;
  width: 539px;
  justify-content: space-between;
}

#div-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 734px;
}

@media (max-width: 768px) {
  #destination {
    height: 848px;
    width: 688px;
    display: flex;
    column-gap: 32px;
    justify-content: center;
    padding: 40px 0px;
    display: none;
    flex-direction: column;
  }

  #pick-your-destination {
    font: 400 28px "Barlow Condensed", sans-serif;
    line-height: 33.6px;
    letter-spacing: 4px;
    color: white;
    display: flex;
    column-gap: 24px;
  }

  #pick-your-destination span {
    font-weight: 700;
    color: white;
    letter-spacing: 4.72px;
    opacity: 25%;
  }

  #destination-picture {
    width: 300px;
  }

  #aside {
    height: 384px;
    width: 688px;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    justify-content: space-between;
    padding: 11.5px 87px;
    align-items: center;
  }

  #aside ul {
    display: flex;
    font: 400 16px "Barlow Condensed", sans-serif;
    letter-spacing: 2px;
    line-height: 19.2px;
    color: var(--blue-300);
    height: 29px;
    width: 100%;
    column-gap: 32px;
    justify-content: center;
  }
  .cosmos-item {
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 3px solid transparent;
    transition: all ease-in-out 300ms;
  }
  .cosmos-item:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  .cosmos-item:active {
    border-bottom: 3px solid white;
  }

  #title-destination {
    font: 400 80px "Bellefair", sans-serif;
    line-height: 91.68px;
    color: white;
    text-align: center;
  }

  #description-destination {
    font: 400 16px "Barlow", sans-serif;
    line-height: 28.8px;
    color: var(--blue-300);
    text-align: center;
  }
  #hr-destination {
    color: white;
    opacity: 24%;
  }
  #dist-travel-container {
    display: flex;
    column-gap: 24px;
    text-align: center;
  }
  .dist-time {
    font: 400 14px "Barlow Condensed";
    color: var(--blue-300);
    letter-spacing: 2px;
    line-height: 16.8px;
    width: 210.5px;
    text-align: center;
  }

  .dist-time-n {
    font: 400 28px "Bellefair", sans-serif;
    line-height: 32.09px;
    letter-spacing: 1px;
    color: white;
    width: 210.5px;
  }

  #title-picture-container {
    display: flex;
    flex-direction: column;
    width: 539px;
    justify-content: space-between;
  }

  #div-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 384px;
    width: 688px;
  }
}

@media (max-width: 415px) {
  #destination {
    height: 744px;
    width: 327px;
    display: flex;
    column-gap: 0px;
    row-gap: 32px;
    justify-content: center;
    padding: 24px 0px 0px 0px;
    display: none;
    flex-direction: column;
  }
  #title-description {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  #pick-your-destination {
    font: 400 16px "Barlow Condensed", sans-serif;
    line-height: 19.2px;
    letter-spacing: 15%;
    color: white;
    display: flex;
    column-gap: 24px;
    align-items: center;
    max-width: 327px;
    justify-content: center;
  }

  #pick-your-destination span {
    font-weight: 700;
    color: white;
    letter-spacing: 15%;
    opacity: 25%;
  }

  #destination-picture {
    width: 150px;
  }

  #aside {
    height: 466px;
    width: 327px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: flex-start;
    padding: 0px 0px;
    align-items: center;
  }

  #aside ul {
    display: flex;
    font: 400 14px "Barlow Condensed", sans-serif;
    letter-spacing: 15%;
    line-height: 16.8px;
    color: var(--blue-300);
    height: 29px;
    width: 100%;
    column-gap: 32px;
    justify-content: center;
  }
  .cosmos-item {
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 3px solid transparent;
    transition: all ease-in-out 300ms;
  }
  .cosmos-item:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  .cosmos-item:active {
    border-bottom: 3px solid white;
  }

  #title-destination {
    font: 400 56px "Bellefair", sans-serif;
    line-height: 64.18px;
    color: white;
    text-align: center;
  }

  #description-destination {
    font: 400 15px "Barlow", sans-serif;
    line-height: 27px;
    color: var(--blue-300);
    text-align: center;
  }
  #hr-destination {
    color: white;
    opacity: 24%;
  }
  #dist-travel-container {
    display: flex;
    row-gap: 24px;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
  }
  .dist-time {
    font: 400 14px "Barlow Condensed";
    color: var(--blue-300);
    letter-spacing: 2px;
    line-height: 16.8px;
    width: 210.5px;
    text-align: center;
  }

  .dist-time-n {
    font: 400 28px "Bellefair", sans-serif;
    line-height: 32.09px;
    letter-spacing: 1px;
    color: white;
    width: 210.5px;
  }

  #title-picture-container {
    display: flex;
    flex-direction: column;
    width: 539px;
    justify-content: space-between;
  }

  #div-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 203px;
    width: 327px;
  }
}
